<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        Made with
        <span>
          <svg style="width: 14px; height: 14px; fill: #ff8787; vertical-align: middle;">
            <use xlink:href="{{ '/assets/minima-icons.svg#heart' | relative_url }}"></use>
          </svg>
        </span>
        by Mario Ruoff &ndash; 2025
      </div>

      <div class="footer-col footer-col-right">
        <a href="{{ '/privacy/' | relative_url }}">Privacy Policy</a><br>
        <a href="{{ '/legal/' | relative_url }}">Legal Notice</a>

    </div>

  </div>

</footer>
