<div class="grid">
  {% for project in site.projects reversed %}
    {% assign gridColor = "hsl(" | append: project.pagecolorhue | append: ", " | append: site.project_colors.saturation | append: ", " | append: site.project_colors.lightness | append: ")" %}
    {% assign gridColorBg = "hsla(" | append: project.pagecolorhue | append: ", " | append: site.project_colors.saturation | append: ", " | append: site.project_colors.lightness | append: ", 50%)" %}
    <div class="grid-item" style="--grid-color: {{ gridColorBg }}">
      <a href="{{ project.url | relative_url }}">
        <img src="{{ '/assets/images/' | append: project.imageurl | relative_url }}" style="background-color: {{ gridColor }};">
      </a>
      <h2>{{ project.title }}</h2>
      {% if project.stack %}
        <p class="project-stack">
        {% for item in project.stack %}
          <span class="stack-item">{{ item }}</span>
        {% endfor %}
        </p>
      {% endif %}
      <p>{{ project.excerpt }}</p>
    </div>
  {% endfor %}
</div>