<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {% assign projectColor = "hsl(" | append: page.pagecolorhue | append: ", " | append: site.project_colors.saturation | append: ", " | append: site.project_colors.lightness | append: ")" %}
    {% assign projectColorLight = "hsla(" | append: page.pagecolorhue | append: ", " | append: site.project_colors.saturation | append: ", " | append: site.project_colors.lightness | append: ", 0.5)" %}

    <main class="page-content project-header" aria-label="Content">
      <div class="wrapper">
        <div class="project">
          
          <div class="project-wrapper">
            <h1>{{ page.title }}</h1>
            <p class="short-description">{{ page.description }}</p>
            {% for link in page.links %}
              {% include icon_button.html text=link.text icon=link.icon url=link.url %}
            {% endfor %}
          </div>

          <div class="project-image">
            <img class="foreground" src="{{ '/assets/images/' | append: page.imageurl | relative_url }}">
            <img class="background" src="{{ '/assets/images/' | append: page.imageurl | relative_url }}">
          </div>

        </div>

      </div>
    </main>

    {% if page.content and page.content.size > 1 %}
    <main class="page-content">
      <div class="project-content">
        <div class="wrapper">
          {{ content.size }}
        </div>
      </div>
    </main>
    {% endif %}

    {%- include footer.html -%}

    <style>
      .site-header, .project-header {
        background-color: {{ projectColor }};
      }
      .site-footer {
        background-color: {{ projectColorLight }};
      }
    </style>

  </body>

</html>

